html, body{
   font-family: sans-serif;
   padding: 0;
   margin: 0;
   overflow: hidden;
}

#progressbar{
   position: fixed;
   top: 0;
   width: 100%;
   height: 4vh;
   background-color: #7777FF;
}

#progress{
   position: fixed;
   top: 0;
   width: 33%;
   height:4vh;
   background-color: #77FF77;
}

#status{
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 1;
   height: 4vh;
   line-height: 4vh;
   vertical-align: center;
   text-align: center;
   color: white;
   font-weight: bold;
   font-size: 2vw;
}

#buttons{
   margin-top: 4vh;
   width: 100%;
   color: white;
   font-weight: bold;
   font-size: 1.5vw;
}


#buttons>span{
   border-radius: 2vmin;
   border: 10px solid #3333FF;
   background-color: #5555FF;
   width: calc(21vw - 10px);
   height: 21vw;
   display: inline-block;
   margin: 1.2vw;
   vertical-align: center;
   line-height: 20vw;
   text-align: center;

}

#buttons>span.playing{
   border: 10px solid #22DD22;
   background-color: #44FF44;
}

#buttons>span.error{
   border: 10px solid #DD2222;
   background-color: #FF4444;
}

#buttons>span.active{
   border: 10px solid #FF2222;
   background-color: #FF4444;
}
